NET "a"  LOC = P51 | IOSTANDARD = LVTTL;
NET "b"  LOC = P41 | IOSTANDARD = LVTTL;
NET "c"  LOC = P35 | IOSTANDARD = LVTTL;
NET "sum"  LOC = P33 | IOSTANDARD = LVTTL|PULLDOWN;
NET "carry"  LOC = P30 | IOSTANDARD = LVTTL|PULLDOWN;